/** Body Modifiers **/

html {
  font-size: 18px;
}

body {
  overflow-x: hidden;
  font-family: Ubuntu;
}

/** Header Navigation **/

header {
  display: flex;
  align-items: center;
  z-index: 10;
  width: 100%;
  height: 64px;
  border-bottom: 2px solid black;
  background-color:white;
}

.name {
  width: 200px;
  font-size: 1.5rem;
  color: gray;
}

.colmar {
  font-weight: bold;
  color: black;
}

.logo {
  display: flex;
  align-items: center;
  flex-grow: 1;
  padding-left: 30px;
  height: 64px;
  flex-direction: row;
}

.logo img {
  height: 95%;
  padding-left: 24px;
}

nav span {
  display: inline-block;
  padding: 20px 16px;
}

nav {
  display: flex !important;
  width: 100%;
  flex-direction: row-reverse;
}

/** Main Banner **/

.container-banner {
  position: absolute;
  height: 44rem;
  top: 64px;
  width: 100%;
  background-color: lightgrey;
  font-family: Roboto Mono;
}

.banner img {
  float: left;
  width: 60%;
  height: auto;
  padding: 32px 40px 32px 24px;
}

.banner h1 {
  font-size: 3rem;
  padding-top: 13rem;
  line-height: 1.25;
}

.banner h2 {
  font-size: 1.5rem;
}

.banner p {
  position: absolute;
  margin-top: 3rem;
  padding: 12px 0;
  width: 325px;
  float: right;
  left: 65%;
  text-align: center;
  font-size: 1.125rem;
  background-color: #36454f;
  color: white;
}

/** Main Information Banner **/

.container-information {
  width: 65%;
  margin-top: 44.2rem;
}

.information img {
  padding: 32px 24px;
  width: 92.5%;
  height: auto;
}

.information h1 {
  padding-left: 24px;
  padding-bottom: 24px;
  font-family: Roboto Mono;
  font-weight: bold;
  font-size: 2.25rem;
}

.information h2 {
  font-size: 1.15rem;
  padding-left: 24px;
  font-family: Roboto Mono;
  padding-right: 24px;
}

.information p {
  font-family: Roboto Mono;
  font-size: 1rem;
  padding-top: 2.5rem;
  padding-left: 24px;
  padding-bottom: 32px;
}

/** Additional Information **/

.container-additional {
  position: absolute;
  top: 48.25rem;
  right: 0px;
  width: 34.5%;
  height: 46rem;
  border-left: 1px solid lightgray;
}

.additional {
  display: flex;
  width: 100%;
  height: 31%;
  border-bottom: 1px solid lightgray;
}

.additional img {
  width: 35%;
  height: auto;
  padding: 32px 24px 16px 24px;
  display: inline-block;
}

.additional-text {
  display: flex;
  position: absolute;
  font-family: Roboto Mono;
  font-size: 1.25rem;
  float: right;
  width: 55%;
  right: 0px;
  height: 25%;
  flex-direction: column;
  text-align: left;
  justify-content: center;
}

.additional .additional-text{
  align-self: center;
}

.additional-text h2 {
  padding-bottom: 7px;
  font-weight: bold;
}

.additional-text h3 {
  padding-bottom: 10%;
}

.additional-guest {
    display: flex;
    width: 100%;
    height: 31%;
    border-left: 1px solid lightgray;
    background-color: lightgray;
}

.additional-guest img {
  width: 35%;
  height: auto;
  padding: 32px 24px 16px 24px;
  display: inline-block;
}

.additional-guest {
  align-items: center;
}

/** Learning Section **/

.container-learning {

  display: flex;
  height: 48rem;
  justify-content: center;
  flex-wrap: wrap;
  background-color: lightgray;
}

.container-learning h1 {
  font-family: Roboto Mono;
  font-weight: bold;
  padding: 32px 0;
  font-size: 2.25rem;
  height: 30px;
}

.top-row {
  display: flex;
  position: absolute;
  width: 100%;
  height: 300px;
  top: 100.75rem;

}

.learning-item {
  width: 20%;
  height: 100%;

  font-family: Roboto Mono;
  background-color:white;
}

.left {
  margin-left: 17%;
}

.learning-item img {
  width: 100%;
  height: auto;
  padding-bottom: 16px;
}

.learning-item h2 {
  font-size: 1.2rem;
  font-weight: bold;
  padding-bottom: 24px;
  padding-left: 16px;
}

.learning-item h3 {
  padding-left: 16px;
}

.last-text {
  font-size: .9rem;
  padding-top: 10px;
  padding-bottom: 24px;
  padding-left: 16px;
}

.middle {
  margin: 0px 32px;
}

.bottom-row {
  display: flex;
  position: absolute;
  width: 100%;
  height: 300px;
  top: 121rem;

}
