/** Body Modifiers **/

html {
  font-size: 18px;
}

body {
  overflow-x: hidden;
  font-family: Ubuntu;
}

.desktop-hide {
  display: none;
}

/** Header Navigation **/

header {
  display: flex;
  align-items: center;
  z-index: 10;
  width: 100%;
  height: 64px;
  border-bottom: 2px solid black;
  background-color:white;
}

.name {
  width: 200px;
  font-size: 1.5rem;
  color: gray;
}

.colmar {
  font-weight: bold;
  color: black;
}

.logo {
  display: flex;
  align-items: center;
  flex-grow: 1;
  padding-left: 30px;
  height: 64px;
  flex-direction: row;
}

.logo img {
  height: 95%;
  padding-left: 24px;
}

nav span {
  display: inline-block;
  padding: 20px 16px;
}

nav {
  display: flex !important;
  width: 100%;
  flex-direction: row-reverse;
}

/** Main Banner **/

.container-banner {
  position: absolute;
  height: 44rem;
  top: 64px;
  width: 100%;
  background-color: lightgrey;
  font-family: Roboto Mono;
}

.banner img {
  float: left;
  width: 60%;
  height: auto;
  padding: 32px 40px 32px 24px;
}

.banner h1 {
  font-size: 3rem;
  padding-top: 13rem;
  line-height: 1.25;
}

.banner h2 {
  font-size: 1.5rem;
}

.banner p {
  position: absolute;
  margin-top: 3rem;
  padding: 12px 0;
  width: 325px;
  float: right;
  left: 65%;
  text-align: center;
  font-size: 1.125rem;
  background-color: #36454f;
  color: white;
}

/** Main Information Banner **/

.container-information {
  width: 65%;
  margin-top: 44.2rem;
}

.information img {
  padding: 32px 24px;
  width: 92.5%;
  height: auto;
}

.information h1 {
  padding-left: 24px;
  padding-bottom: 24px;
  font-family: Roboto Mono;
  font-weight: bold;
  font-size: 2.25rem;
}

.information h2 {
  font-size: 1.15rem;
  padding-left: 24px;
  font-family: Roboto Mono;
  padding-right: 24px;
}

.information p {
  font-family: Roboto Mono;
  font-size: 1rem;
  padding-top: 2.5rem;
  padding-left: 24px;
  padding-bottom: 32px;
}

/** Additional Information **/

.container-additional {
  position: absolute;
  top: 48.25rem;
  right: 0px;
  width: 34.5%;
  height: 46rem;
  border-left: 1px solid lightgray;
}

.additional {
  display: flex;
  width: 100%;
  height: 31%;
  border-bottom: 1px solid lightgray;
}

.additional img {
  width: 35%;
  height: auto;
  padding: 32px 24px 16px 24px;
  display: inline-block;
}

.additional-text {
  display: flex;
  position: absolute;
  font-family: Roboto Mono;
  font-size: 1.25rem;
  float: right;
  width: 55%;
  right: 0px;
  height: 25%;
  flex-direction: column;
  text-align: left;
  justify-content: center;
}

.additional .additional-text{
  align-self: center;
}

.additional-text h2 {
  padding-bottom: 7px;
  font-weight: bold;
}

.additional-text h3 {
  padding-bottom: 10%;
}

.additional-guest {
    display: flex;
    width: 100%;
    height: 31%;
    border-left: 1px solid lightgray;
    background-color: lightgray;
}

.additional-guest img {
  width: 35%;
  height: auto;
  padding: 32px 24px 16px 24px;
  display: inline-block;
}

.additional-guest {
  align-items: center;
}

/** Learning Section **/

.container-learning {
  display: flex;
  height: 48rem;
  justify-content: center;
  flex-wrap: wrap;
  background-color: lightgray;
  padding-bottom: 32px;
}

.container-learning h1 {
  font-family: Roboto Mono;
  font-weight: bold;
  padding: 32px 0;
  font-size: 2.25rem;
  height: 30px;
}

.top-row {
  display: flex;
  position: absolute;
  width: 100%;
  height: 300px;
  top: 100.75rem;

}

.learning-item {
  width: 20%;
  height: 100%;
  font-family: Roboto Mono;
  background-color:white;
}

.left {
  margin-left: 17%;
}

.learning-item img {
  width: 100%;
  height: auto;
  padding-bottom: 16px;
}

.learning-item h2 {
  font-size: 1.2rem;
  font-weight: bold;
  padding-bottom: 24px;
  padding-left: 16px;
}

.learning-item h3 {
  padding-left: 16px;
}

.last-text {
  font-size: .9rem;
  padding-top: 10px;
  padding-bottom: 24px;
  padding-left: 16px;
}

.middle {
  margin: 0px 32px;
}

.bottom-row {
  display: flex;
  position: absolute;
  width: 100%;
  height: 300px;
  top: 121rem;
}

/** Thesis Exhibit **/

.container-thesis {
  height: 55rem;
}

.container-thesis h1 {
  padding: 32px 0;
  font-size: 2.25rem;
  text-align: center;
  font-family: Roboto Mono;
  font-weight: bold;
}

.thesis-video {
  height: 85%;
  width: 70%;
  margin: 0 16px 0 24px;
}

.thesis-video h2 {
  font-family: Roboto Mono;
  font-weight: bold;
  font-size: 1.75rem;
  padding-top: 24px;
}

.thesis-video h3 {
  font-size: 1.5rem;
  padding-top: 25px;
  padding-bottom: 32px;
}

.thesis-side {
  position: absolute;
  height:72%;
  top: 150.75rem;
  right: 0;
  width: 27.75%;

}

.thesis-side-item {
  height: 168px;
}

.thesis-side-item img {
  width: 35%;
  height: auto;
  padding: 16px;
}

.thesis-side-text {

  float: right;
  margin-right: 15px;
  margin-top: 32px;
  height: 100px;
  width: 200px;
}

.thesis-side-text h2 {
  margin-top: .5rem;
  font-size: 1.1rem;
  font-family: Roboto Mono;
  font-weight: bold;
}

.thesis-side-text h3 {
  font-size: .9rem;
  font-family: Roboto Mono;
  padding-top: 2rem;
}

.first-item {
  background-color: lightgray;
}

.second-item {
  margin-top: 2rem;
}

/** Footer **/

.footer {
  display: flex;
  border-top: 1px solid lightgray;
  height: 50px;
  align-items: center;
  position: static;
  z-index: 10;
}

.left-text {
  padding-left: 24px;
}

.right-text {
  padding-left: 1000px;
}


/** Media Queries **/

@media screen and (max-width: 1025px) {
  .thesis-side-text {
    width: 100px;
  }

  .thesis-side-item {
    height: 250px;
  }

  .container-additional{
    height: 44rem;
  }
}

@media screen  and (max-width: 770px) {

  .desktop-hide {
    display: block;
  }

  .mobile-hide {
    display: none;
  }

  .banner {
    height: 45%;
    background-color: darkgray;
  }

  .banner-image {
    display:none;
  }

  .banner h1 {
    padding: 22rem 0 32px 16px;
  }

  .banner h2 {
    padding-left: 16px;
    padding-bottom: 24px;
  }

  .logo img {
    padding-left: 100px;
  }

  .banner {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .banner p {
    left: 160px;
    top: 570px;
    background-color: gray;
  }

  .container-additional {
    width: 100%;
    margin-top: 5rem;
  }

  .additional img {
    width: 95%;
    height: 250px;
  }

  .additional-guest{
    background-color: white;
    margin-bottom: 15rem;
  }

  .additional-guest img {
    width: 95%;
    height: 250px;
    margin-top: 1.2rem;
  }

  .additional-text {
    margin-top: 17rem;
    width: 90%;
    left: 32px;
  }

  .container-thesis {
    position: absolute;
    top: 150rem;
  }

  .additional {
    margin-bottom: 15rem;
    margin-top: 1rem;
  }

  .top-row {
    top: 150rem;
    flex-direction: column;
    width:75%;
    height:20%;
  }

  .learning-item {
    padding: 16px 0;
    margin-bottom: 8px;
    background-color: lightgray;
    height: 300px;
    width: 30rem;
  }

  .learning-item h2 {
    font-size: 2rem;
  }

  .left {
    margin: 0;
  }

  .middle {
    margin: 8px 0;
  }

  .bottom-row {
    top: 168rem;
    flex-direction: column;
    width: 75%;
    height: 20%;
  }

  .container-learning h1 {
    position: absolute;
    top : 143rem;
  }

  .container-thesis {
    top: 188rem;
    height: 500px;
  }

  .thesis-video {
    display: flex;
    width: 500px;
    height: 300px;
    margin-left: 50px;
  }

  .footer {
    position: absolute;
    top: 220rem;
    margin-left: 0px;
    width: 600px;
    height: 56px;
  }
}
